<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 外部引用 -->
    <script src="libs/jquery/jquery-3.1.1.min.js"></script>
    <script src="libs/vue/vue.min.js"></script>
    <script src="libs/rem/rem.js"></script>
    <!-- 自定义 通用 -->
    <link rel="stylesheet" type="text/css" href="css/base.css"/>
  </head>

  <body>
    <section class="window">
      <!-- 登录页面 -->
      <iframe src="login.html" v-if="loginShow"></iframe>
      <!-- 主要页面 -->
      <iframe src="home.html" v-if="!loginShow"></iframe>
    </section>
  </body>

  <script src="js/init.js"></script>
</html>